// Input
$border-input : 1px solid rgba(0, 0, 0, 0.15);
$border-radius-input : 0.4rem;

// Card
$card-bg: #F1F1F1;

// Button
$btn-primary-bg: #000000;
$btn-primary-text: #FFFFFF;
$btn-secondary-bg: #F5F5F5;
$btn-secondary-text: #000000;
$btn-grayed-bg: #FFFFFF;
$btn-grayed-text: #8A8A8A;
$btn-disabled-text: gray;
$btn-disabled-bg: #ddd;

// Checkbox 
$checkbox-bg: #FFFFFF;
$checkbox-border: #808080;
$checkbox-checked-bg: #000000;
$checked-correct-color: #FFFFFF;

// Toggle Button
$toggle-bg: #FFFFFF;
$toggle-checked-bg: #979797;

// Topbar
$topbar-bg: #FFFFFF;

// Input 
$input-bg: #FFFFFF;
$input-border-color: #CED4DA;
$input-label-color: #001737;
$input-checkbox-bg: #FFFFFF;
$checkbox-border-color: #808080;
$checkbox-chekecd-bg: #000000;
$radio-border-color: #000000;
$radio-bg: #FFFFFF;

// Toggle Button
$toggle-bg: #D3D3D3;
$toggle-checked-bg: #000000;
$toggle-slider-bg: white;

// Modal
$modal-bg: white;
$close-icon-color: gray;
$close-icon-hover-color: red;
$h-line-color: rgb(226, 226, 226);